site_name: PatchTrack
site_description: A Comprehensive Analysis of ChatGPT's Influence on Pull Request Outcomes
site_url: ""
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: slate 
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode    
      primary: teal
      accent: lime

    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
      primary: teal
      accent: purple 

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/unlv-evol/unlv-evol
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/unlv-evol
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/unlv-evol
nav:
    - Overview: index.md
    - Getting Started: getting_started.md
    # - Reference:
    #       - 'Source Loader': 'reference/source_loader.md'
    #       - 'Patch Loader': 'reference/patch_loader.md'
    #       - 'Data Extractor': 'reference/data_extractor.md'
    #       - 'Patch Extractor': 'reference/patch_extractor.md'
    #       - 'Classifier': 'reference/classifier.md'
    #       - 'Common': 'reference/common.md'

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
- mkdocstrings:
    enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
    custom_templates: templates
    default_handler: python
    handlers:
      python:
        options:
          show_source: false

hooks:
  - hooks.py

copyright: |
  &copy; {year} <a href="https://github.com/unlv-evol" target="_blank" rel="noopener">Software Evolution Lab - UNLV</a>